<div class="container">
    <div [style.border]="'2px blue solid'">
        <h1>Uso del nuevo Switch</h1>
        @switch (objetoSignal().nombre) {
        @case ('radio') {
        <p>Soy la radio</p>
        }
        @case ('televisor') {
        <p>Soy el televisor</p>
        }
        @case ('computadora'){
        <p>Soy la computadora</p>
        }
        }
    </div>
    <div [style.border]="'2px green solid'">
        <h1>uso del antiguo switch</h1>
        <div>
            @switch (objetoSignal().nombre) {
            @case ('radio') {
            <p>Radio</p>
            }
            @case ('laptop') {
            <p>Laptop</p>
            }
            @case ('computadora') {
            <p>Computadora</p>
            }
            @case ('lavadora') {
            <p>Lavadora</p>
            }
            @default {
            <p>No se registro ningun electrodomestico</p>
            }
            }
        </div>
    </div>
    <div [style.border]="'2px blue solid'">
        <div>
            <ul>
                @for (objeto of objetos(); track objeto; let i = $index) {
                <li> {{ i }} {{ objeto.nombre}} S/. {{ objeto.costo }} </li>
                } @empty {
                <li> La lista esta vacia </li>
                }
            </ul>
        </div>
    </div>
    <div style="border: 2px red solid;">
        <div>
            <h1>Index con el ngFor antiguo</h1>
            <ul>
                @if (objetosVacio().length > 0) {
                <div>
                    @for (objeto of objetos(); track objeto; let i = $index) {
                    <li>
                        {{ i }}: {{ objeto.nombre }}
                    </li>
                    }
                </div>
                } @else {
                <li>No hay objetos</li>
                }
            </ul>
        </div>
    </div>
    <div>
        <h1>Con el nuevo IF</h1>
        <ul>
            @for (objeto of objetos(); track objeto) {
            <li>
                @if(objeto.nombre === 'Televisión'){
                <p>Eres Alexander</p>
                } @else{
                <p>No se registro ningun registro</p>
                }
            </li>
            }
        </ul>
        <hr>
    </div>
    @if (nameIf() === 'Alexander') {
    <div>
        <p>Se muestra el nombre Alexander, es verdadero</p>
    </div>
    }
    @if (nameIf() === 'Alexander'){
    <div>
        <p>Aqui se muestra el nombre de Alexander Andre</p>
    </div>
    }
    @if (nameIf()==='Alexander' && ageIf()===20) {
    <div>
        <p>Alexander tiene 20 años</p>
    </div>
    } @else {
    <p>no existen datos registrados</p>
    }
    <hr />
    <hr />
    <h1>Color bloque</h1>
    <svg>
        <g>
            <rect x='0' y='0' height="100" width='100' [attr.fill]="colorCtrl.value"></rect>
        </g>
    </svg>
    <input type="number" [formControl]="widthCtrl" />
    <span class="box" [style.width.px]="widthCtrl.value"></span>
    <hr />
    <h1>Color Control</h1>
    <p>Color: {{ colorCtrl.value }}</p>
    <input type="color" [formControl]="colorCtrl">
    <hr />
    <hr />
    <div style="border: 2px purple solid;">
        <h1>Probando Switch</h1>
        <input type="text" [value]="person().name" (change)="changeName($event)">
        <div>
            @switch (person().name) {
            @case ('Alex') {
            <p>Yo soy Alex</p>
            }
            @case ('Jean') {
            <p>Yo soy Jean</p>
            }
            @case ('Jorge') {
            <p>Yo soy Jorge</p>
            }
            @case ('Bert') {
            <p>Yo soy Bert</p>
            }
            @default {
            <p>No se registro datos</p>
            }
            }
        </div>
    </div>
    <hr />
    <h1>Probando signals and if</h1>
    <input type="text" [value]="person().name" (change)="changeHandlerName($event)">
    <input type="number" [value]="person().age" (change)="changeHandlerAge($event)">
    <p>Con changeAge update</p>
    <input type="number" [value]="person().age" (change)="changeAge($event)">
    <p>Nombre de la persona: {{ person().name }}</p>
    <p>Edd de la persona: {{ person().age }}</p>
    <hr>
    <h2>Primer If</h2>
    @if (person().name === 'Andre') {
    <div style="border: 2px yellow solid;">
        Mi nombre es {{ person().name }}
    </div>
    }
    @if (person().name === 'Andre' && person().age === 20) {
    <div style="border: 2px blue solid;">
        Mi nombre es Andre y tengo {{ person().age }}
    </div>
    } @else {
    <div style="border: 4px red solid;">
        No se ha encontrado ningun o detectado algún cambio
    </div>
    }
    <button (click)="onSendAlert()">Alerta</button>
    <hr>
    <button (dblclick)="onSendDoubleAlert()">Alerta doble</button>
    <hr>
    <p>Change:</p>
    <input type="number" [value]="person().age" (change)="changeHandler($event)">
    <p>Change event in text:</p>
    <input type="text" [value]="person().name" (change)="changeHandler($event)">
    <p>Keydown:</p>
    <input type="text" [value]="person().apellido" (keydown)="keydownHandler($event)">
    <p>Keydown shift + t:</p>
    <input type="text" [value]="person().name" (keydown.shift.t)="onSendAlert()">
    <p>Signals:</p>
    <input type="text" [value]="word()" (change)="changeHandler($event)">
    <p>name: {{ word() }}</p>
    <hr>
    <p>Signal v2</p>
    <input type="text" [value]="word()" (change)="changeHandler($event)">
    <hr />
    <p>Porbando</p>
    @if (word() === 'Alexander') {
    <div>
        Palabra correcta {{ word() }}
    </div>
    }
    <ul>
        <p>Tamaño del array: {{ mockData().length }}</p>
        @for (item of mockData(); track item; let i = $index) {
        <li>
            <p>{{ i }} {{ item.nombre }} {{ item.apellido }}, {{ item.age }} años(s)</p>
        </li>
        }
    </ul>
    <hr>
    <h1>Este es mi primer proyecto</h1>
    <h2>{{ welcome }}</h2>
    <ul>
        @for (item of tasks; track item) {
        <li>
            {{ item }}
        </li>
        }
    </ul>
    <ul>
        @for (item of ['Alexander', 1, 2, 3.2, null]; track item) {
        <li>
            {{ item }}
        </li>
        }
    </ul>
    <h2>{{ 'Hola'.repeat(4) }}</h2>
    <p>La suma es 3 + 3 es {{ 3 + 3 }}</p>
    <p>Hola soy {{ name }} y mi edad es {{age }}</p>
    <img src="" alt="">
    <input type="text" value="Andre">
    <input type="text" [value]="name">
    <button disabled="false">Click me</button>
    <button [disabled]="disabled">Como estas</button>
    <img [src]="img" alt="">
    <div style="border: 2px red solid;">
        <p>{{ person().name }} / {{ person().apellido}} / {{ person().age }}</p>
        <img [src]="person().avatar" alt="">
    </div>
    <ul>
        @for (p of persons; track p) {
        <li>
            {{ p.name }} / {{ p.apellido}} / {{ p.age }}
            <img [src]="p.avatar" alt="" class="avatar">
        </li>
        }
    </ul>
</div>